@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 12px;
}

html {
  font-size: 13px;
}

html, body {
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: inline-flex;
  height: 100%;
  width: 100%;
}

h2 {
  color: #031F73;
}
